website/bower_components
website/node_modules
website/.nuxt
etcd-tls/data
nexus3/data
nexus3/work
jenkins/home
portainer/data
rabbitmq/data
DockerRedis/redis/data
DockerRedis/redis/back_data
DockerMysql/mysql5.6/data
DockerMysql/mysql5.6/back_data
log
docker_redis/data
.DS_Store

